@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    }

}
else
{
@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
 
}
