html,body{
     min-height:100% !important;
     height:100% !important;
            background:#D3EFF4;
             margin:0;
   padding:0;
}

/* Set padding to keep content from hitting the edges */
.body-content {

    padding-left: 15px;
    padding-right: 15px;
  
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 480px;
}


#projectLink:hover{
    cursor:pointer;
}

.project-list-horizontal .col-md-3{
    font-weight:bold;
}

.back-link{
    margin-top:10px;

}

.editHidden
{display:none;

}

#modal-projectlist-content{
    margin:10px;

}

.contact{margin:10px;
}

#footer-contact{
    margin-top:10px !important;
}

#modal-projectlist-content{
    padding:10px;
}

#delete-button{
    display:inline-block;
}

.navbar-nav {
    color:white !important;
}

#footer {

   /*
   height:180px;  
   background:#00CC99;
   position:absolute; */
   /*position:absolute;
   bottom:0;
   background:#00CC99;
       clear: both;
       width:100%;*/
 
 height: 180px; 
   background:#00CC99;
    /*overflow:hidden;*/
}  

#push{
    height:180px;
}

.body-content{
    padding-top:120px;
}

#container{
    /*width:100%;
    height:100%;
    position:relative;*/
     min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -180px;
}

.img_logotype_eap{
    width:200px;
    height:91px;
}

.img_logotype_cfea{
    width:166px;
    height:50px;
}

.img_logotype_gpp{
    width:103px;
    height:115px;
}
#images{
    text-align:right;
}
#images img{

    margin:20px;
}

#projected_by{
     font-style: italic;
     margin:0 auto;
     text-align: center;
     color:white;
}

#projected_by span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

#search{
    text-align:center;
    margin-top:10px;
}

#search_options{
   
    width: 50%;
    margin: 0 auto;
     margin-top:5em;
     margin-bottom:5em;
}

#search_options table {
     border-spacing: 10px;
}

#search_options{
    font-size:20px;
}

#u47{
    line-height:90%;
    display:inline-block;
}

#log-text{
   color:white;
    display:inline-block;
    vertical-align:top;
    margin-top:10px;
    line-height:150%;
}

.project-details-label{
    font-weight:bold;
}




h1, h2, h3, h4 {
    font-family: 'Arial', serif;
    font-weight: 300;
}

html {
   background-color: #CCC;
}
hr {
	color: #ffcc00;
	
}
.top {
    background-color: #1E4C54;
	
}
.top .navbar-brand {
    height: auto;
    line-height: 1.5em;
    text-align: left;
    padding: 0 10px;
    background-color: #1E4C54;
    color: #474747;
    text-decoration: none;

}
.top .navbar-brand img {
	padding: 5%;
}

.top .container {
    padding: 0;
}


.center {
   margin: auto;
   padding: 5%;
   text-align: center;
}
.middle .container {
    background-image: url(img/books.jpg);
	background-size: cover;
    
    padding-bottom: 20px;
}
.navbar-nav li a {
    color: #CCC;
    font-family: 'Lato', sans-serif;
}
.navbar-nav li a:hover {
    color: #ffcc00;
}



/*---- BOTTOM----*/
.bottom {
    background-color: #ffcc00;
}

.bottom .container {
    background-color: #ffcc00;
    min-height: 150px;
	
	
}
.bottom .container h3 {
    color: #999;
}
.bottom .container p {
    color: #666;
}
.bottom .container .col-xs-4 .img3 {
    
	width: 60%;
	margin: auto;
	padding-top: 14%;
}
.bottom .container .col-xs-4 .img2 {
    
	width: 60%;
	margin: auto;
	padding-top: 6%;
}
.bottom .container .col-xs-4 .img1 {
    
	width: 37%;
	margin: auto;
	padding: 5%;
}
.copyright p {
	text-align: center;
	font-size: 15px !important;
	text-decoration: underline;
}
/*--end of bottom---*/
.navbar-toggle {
    color: #009b9b;
    font-size: 32px;
    margin: 3px;
    padding: 2px 5px;
    line-height: 32px;
}
.navbar-toggle:hover {
    background-color: #373737;
}
.navbar-nav {
    margin: 0;
}

.content {
	width: 80%;
	background-color:rgba(255,255,255,0.8); 
	margin: 6% 10%;
	padding: 10%;
    line-height: 2em;
    font-size: 20px;
	text-align: center;
	align: center;
	
}
.content .row .col-md-4,
.content .row .col-md-8 {
	text-align: left;
}
.col-md-3 {
	text-align: left;
}

select {
	height: 2em;
	color: #000;
	}

select option {
	font-size: 15px;
	
}

.row {
	margin: 1.2em;
}
.row p{
	font-size: 18px;
}
/*---take on a project---*/

.section1 {
	
	background-color: #D3EFF4;
}
 .section1 h1 {
	 color: #fff;
	 padding: 0.5em;
	 margin: 0%;
 }

.jumbotron select
 {
	 width: 70%;
	margin: 18px 0px 17px 0px;
} 

.jumbotron .btn {
	margin: 15px 0px;
}

.jumbotron a {
	color: #fff;
}

.row a {
	color: #000;
	text-decoration: underline;
}

.message {
	
	min-height: 200px;
}
 .inputmaly {
	 width: 70%;
 }


 .nav-container a{

     color:#fff
 }

  .nav-container {

     color:#fff
 }

  .login-container{
  
      min-height:600px;
  }
  .login-container .row{
      margin-top:100px;
  }

  .take-on{
      background-color:#1E4C54;
      color:white;
  }

  #searchResultsTake{
      min-height:200px;
  }

  .h2{
      font-size:15px;
  }

  .configuration{
      min-height:700px;
  }