html,body{
     min-height:100% !important;
     height:100% !important;
            background:#D3EFF4;
             margin:0;
   padding:0;
}

/* Set padding to keep content from hitting the edges */
.body-content {

    padding-left: 15px;
    padding-right: 15px;
  
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#projectLink:hover{
    cursor:pointer;
}

.project-list-horizontal .col-md-3{
    font-weight:bold;
}

.back-link{
    margin-top:10px;

}

.editHidden
{display:none;

}

#modal-projectlist-content{
    margin:10px;

}

.contact{margin:10px;
}

#footer-contact{
    margin-top:10px !important;
}

#modal-projectlist-content{
    padding:10px;
}

#delete-button{
    display:inline-block;
}

.navbar-nav {
    color:white !important;
}

#footer {

   /*
   height:180px;  
   background:#00CC99;
   position:absolute; */
   /*position:absolute;
   bottom:0;
   background:#00CC99;
       clear: both;
       width:100%;*/
 
 height: 180px; 
   background:#00CC99;
    /*overflow:hidden;*/
}  

#push{
    height:180px;
}

.body-content{
    padding-top:120px;
}

#container{
    /*width:100%;
    height:100%;
    position:relative;*/
     min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -180px;
}

.img_logotype_eap{
    width:200px;
    height:91px;
}

.img_logotype_cfea{
    width:166px;
    height:50px;
}

.img_logotype_gpp{
    width:103px;
    height:115px;
}
#images{
    text-align:right;
}
#images img{

    margin:20px;
}

#projected_by{
     font-style: italic;
     margin:0 auto;
     text-align: center;
     color:white;
}

#projected_by span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

#search{
    text-align:center;
    margin-top:10px;
}

#search_options{
   
    width: 50%;
    margin: 0 auto;
     margin-top:5em;
     margin-bottom:5em;
}

#search_options table {
     border-spacing: 10px;
}

#search_options{
    font-size:20px;
}

#u47{
    line-height:90%;
    display:inline-block;
}

#log-text{
   color:white;
    display:inline-block;
    vertical-align:top;
    margin-top:10px;
    line-height:150%;
}