
@model Web.Models.View.ProjectView

@{
    ViewBag.Title = "Details for "+ Model.Title;
}

<h2>@Model.Title</h2>

    @Html.Partial("~/Views/Projects/Partials/_ProjectList.cshtml", new List<Web.Models.View.ProjectView>() { Model })

