@model IEnumerable<Web.Models.View.ProjectView>

@{
    ViewBag.Title = "Index";
}

<h2>Projects to approve</h2>


@if (Model.Count() == 0)
{
<p>
    No projects to approve
</p>
}
else
{
@Html.Partial("~/Views/Projects/Partials/_ProjectList.cshtml", Model)
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/create")
@Scripts.Render("~/bundles/jquerajax")

}
