@model IEnumerable<Web.DAL.Project>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@{ Layout = "~/Views/Shared/_Layout.cshtml";}

@Html.Partial("~/Views/Shared/_ProjectList.cshtml", Model)


<div>
    @Html.ActionLink("Back to List", "Index")
</div>