@model Web.Models.View.SearchModel

@using Web.Helpers;

@{
    ViewBag.Title = "Search";
}

<script type="text/javascript">
    function onSearchComplete(result) {
        if (result.info) {
            $('#messageModalInfo').html(result.info);
            $('#SuccessTitle').html("Search");
            $('#infoModal').modal("show")
        }
        else {
            $('#searchResults').html(result);
        }
    }

</script>
<div id="search">
    <h1>What are the biggest questions today?</h1>

    <h3>Search for research projects that make a difference.</h3>

    @using (Ajax.BeginForm(new AjaxOptions() { OnSuccess = "onSearchComplete" }))
    {

        <div id="search_options">
            <table>
                <tr>
                    <td>
                        Choose a subject of study: @Html.DropDownListFor(model => model.SubjectId, (SelectList)ViewBag.SuitableSubject)
                    </td>
                    <td>
                        Choose a cause: @Html.DropDownListFor(model => model.CauseId, (SelectList)ViewBag.Cause)
                    </td>
                </tr>
            </table>
        </div>
        <input type="hidden" name="page" id="page" value="1"/>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>

    }

    <div id="searchResults">

    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerajax")
}